:root {
    --bleu-fonce: #0c2c43;
    --vert-clair: #d9e5c4;
    --vert-moyen: #54816d;
    --vert-pale: #80a470;
    --vert-fonce: #3d6b63;
    --bleu-vert: #284f54;
    --gris-bleu-clair: #8c9ca4;
    --gris-bleu: #7c8c94;
    --bleu-gris: #38586c;
    --bleu-clair: #2B3136;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.titre{
    font-size: 32px;
    font-weight: bold;
    color: var(--bleu-fonce);
    display: flex;
    justify-content: center;
    text-align: center;
}
.entete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--bleu-fonce);
    color: white;
}

.entete .logo img {
    max-height: 60px;
}

.nav ul {
    list-style: none;
    display: flex;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.nav ul li {
    margin: 0 10px;
}

.nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background 0.3s;
}

.nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .barre {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: all 0.3s;
}
/* #contact{
    background-color: #38586c;
} */
/*section hero*/
.hero {
    background-image: url('imagewebp/image-fond.webp');
    display: flex;
    align-items: center;
    justify-content: left;
    height: 80vh;
    background-size: cover;
    background-position: center;
    color: var(--bleu-fonce);
    text-align: left;
    padding: 20px;
    font-size: 30px;
}

.contenu-hero {
    max-width: 800px;
}
.contenu-hero h1{
    font-size: 2.8rem;
}
.contenu-hero h2{
    font-size: 2.5rem;
}

.bouton-cta {
    background-color: var(--bleu-fonce);
    color: white;
    border-radius: 15px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: background 0.3s;
}

.bouton-cta:hover {
    background-color: var(--vert-moyen);
}
/*Section services*/
.services {
    /* padding: 40px 20px; */
    text-align: center;
}

.services h2 {
    margin: 50px;
    font-size: 1.3rem;
    margin-top: 0;
    text-align: left;
}

.cartes-services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.carte-service {
    background: white;
    /* border: 5px solid var(--bleu-fonce); */
    box-shadow: 0 0 20px rgba(0, 10, 0, 0.1);
    border-radius: 8px;
    margin: 10px;
    /* width: calc(33.333% - 40px); */
    width: 30%;
    box-sizing: border-box;
    transition: box-shadow 0.3s;
}

.carte-service img {
    max-width: 100%;
    border-radius: 8px 8px 0 0;
}

.carte-service h3 {
    margin: 10px 0;
}

.carte-service p {
    font-size: 1.2rem;
    color: var(--bleu-fonce);
    text-align: left;
    margin: 50px;
}
.carte-service:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/*Section about*/
.about{
    background-image: url(imagewebp/fond-about1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
    border-radius: 35px;
}
.contenaire-about{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding: 40px 20px;
}
.about-image img{
    width: 500px;
    margin: 30px;
    border-radius: 15px;
    box-shadow: 15px #0c2c43;
}
.about-text p{
    color: #0c2c43;
    font-size: 24px;
}
/*Section temoignages*/
.temoignages {
    text-align: center;
    padding: 20px;
    /* gap: 79px; */
    display: flex;
/*nouveau*/
    /* gap: 50px;
    display: flex;
    flex-direction: column; */
}
.temoignages {
    display: flex;
    justify-content: center;
    align-items: center;
}

.temoignages h1 {
    margin-bottom: 20px;
}

.temoignage {
    /* display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    transition: box-shadow 0.3s; */
    background: white;
    box-shadow: 0 0 20px rgba(0, 10, 0, 0.1);
    border-radius: 8px;
    margin: 10px;
    width: 25%;
    box-sizing: border-box;
    transition: box-shadow 0.3s;

}

.temoignage img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    top: -35px;
    position: relative;
}

.temoignage h2 {
    margin: 50px;
    margin-top: 0;
    text-align: left;
}

.temoignage p {
    font-size: 1.2em;
    color: #555;
    text-align: left;
    margin: 50px;
}



.temoignage:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/*Section formulaire*/
.contactez-nous {
    /* background-color: var(--bleu-clair); */
    /* color: var(--bleu-fonce);
    padding: 40px 20px;
    text-align: center;
    margin: 20px;
    border-radius: 35px;
    box-shadow: 0px -20px 1px 10px var(--bleu-fonce);
    border-bottom: 15px solid var(--bleu-fonce); */
    color: var(--bleu-fonce);
    padding: 40px 20px;
    text-align: center;
    margin: 41px;
    border-radius: 35px;
    box-shadow: 0px -26px 0px 20px var(--bleu-fonce);
    border-bottom: 15px solid var(--bleu-fonce);
}
/* .contactez-nous{
    box-shadow: -20px 20px 0px 20px var(--bleu-gris  );
} */
.infos-contact {
    font-weight: bold;
    border: solid 3px;
    border-radius: 10px;
    top: 20px;
    position: relative;
}
.contenu-contact {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}

.formulaire {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 12px rgb(0 0 0);
    width: 50%;
}

.formulaire h3 {
    color: var(--bleu-fonce);
}

.formulaire label {
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
    margin-bottom: 8px;
    color: var(--bleu-fonce);
}

.formulaire input,
.formulaire textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--gris-bleu-clair);
    border-radius: 4px;
}
.formulaire textarea {
    height: 20%;
}
#message{
    height: 100px;
}
.formulaire button {
    background-color: var(--bleu-fonce);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
    bottom: 10px;
    position: relative; 
    /* border-radius: 5px;
    box-shadow: 0 0 2px 0;
    max-width: 100px;
    width: 100px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background 0.3s;
    transition: background 0.3s;
    bottom: 10px;
    position: relative;
    background: none; */
}

/* .formulaire button:hover {
    background-color: var(--vert-moyen);
} */

#map iframe{
    width: 667.34px;
    max-width: 100%;
    height: 362.44px;
    border-radius: 8px;
}
#logo img{
    width: 50px;
}
.pied-de-page {
    background-color: rgba(14, 13, 13, 0.897) ;
    color: white;   
    padding: 20px;
    text-align: center;
}

.pied-de-page .contenu-pied-de-page {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0;
}

.pied-de-page .contenu-pied-de-page > div {
    flex: 1;
    padding: 10px;
}

.pied-de-page .contenu-pied-de-page > div:not(:first-child) {
    border-left: 1px solid var(--gris-bleu);
}

.pied-de-page .infos-legales a {
    color: white;
    text-decoration: none;
}

.pied-de-page .infos-legales a:hover {
    text-decoration: underline;
}

.pied-de-page .liens-sociaux a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
.pied-de-page .liens-sociaux img {
    width: 50px;
}

.pied-de-page .liens-sociaux a:hover {
    text-decoration: underline;
}
footer{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}

